@model Application1.Models.AboutViewModel

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>About the user.</p>

<p>Users address: @Model.Address</p>