@{
    ViewData["Title"] = "AccessDenied";
}

<h2>AccessDenied</h2>

<div class="container">
    <h3>Woops, looks like you're not authorized to view this page.</h3>
    <div>Would you prefer to <a asp-controller="Home" asp-action="Logout">log in as someone else</a>?</div>
</div>
